<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="/styles/style3.css">

    <title>results</title>
</head>

<body>
    <h2> Thought Collector Results </h2>


    <div class="thoughts">
        <p> First thought </p>

        <div class="notes"> {{textArea1}} </div>
    </div>

    <p> </p>
    <div class="thoughts">
        <p> Second thought </p>
        <div class="notes"> {{textArea2}} </div>
    </div>

    <p> </p>

    <div class="thoughts">
        <p> Third thought </p>
        <div class="notes"> {{textArea3}} </div>
    </div>

<p> </p>
    <footer>
        <a href="form.html"> << back to your Form</a> <br>
        <a href="index.html"> << back homepage</a>
    </footer>

</body>

</html>
